<!DOCTYPE html>
<html>
  <head>
    {% block title %}
      <title>Crafty</title>
    {% endblock %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'auth/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div
      {% if 'login' in request.path %}
        class="login container"
      {% elif 'register' in request.path %}
        class="register container"
      {% elif 'forgot' in request.path %}
        class="forgot container"
      {% endif %} 
    >
      <div class="panel panel-default">
        <div class="panel-body">
          {% block formHeading %}
          {% endblock %}
          {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
          {% endif %}
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'auth/form_template.html' %}
            <button type="submit">Submit</button>
          </form>
          {% block formFooter %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>