body {
  background: #F5F8FA;
} .navbar {
  border-radius: 0;
} .navbar-brand {
  font-family: 'Satisfy', cursive;
} .navbar-inverse {
  background: #394B59;
  border: 0;
} .navbar-inverse .navbar-nav li a {
  color: #F5F8FA;
  transition: color .3s ease;
} .navbar-inverse .navbar-brand {
  color: #FF7373;
  transition: color .3s ease;
} .navbar-inverse .navbar-nav li a:hover {
  color: #BFCCD6;
} .navbar-inverse .navbar-brand:hover {
  color: #DB3737;
} .form-group-height {
  display: flex;
} .search-query {
  border-radius: 5px 0 0 5px;
} .search-button {
  border-radius: 0 5px 5px 0;
} .navbar-inverse .navbar-nav>.active>a {
  background: #202B33;
} .align-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
} #diy-list {
  margin: 0 auto;
  position: relative;
  width: 80%;
} .diy-list-item {
  position: absolute;
  margin: 0 1%;
  width: 23%;
} .diy-list-item img {
  height: auto;
  width: 100%;
} .diy-list-item h1 {
  font-size: 20px;
  color: #394B59;
} .diy-list-item h2 {
  font-size: 14px;
  color: #5C7080;
} a:hover {
  text-decoration: none;
} .diy-panel {
  box-shadow: 0px 0px 0px 0px #FFF;
  transition: box-shadow 0.3s ease;
} .diy-panel:hover {
  box-shadow: 0px 4px 3px 0px #BFCCD6;
} .btn-favorite {
  background: #137CBD;
  color: #F5F8FA;
  transition: background 0.3s ease;
} .btn-favorite:hover {
  background: #0E5A8A;
  color: #F5F8FA;
} .btn-trash {
  background: #DB3737;
  color: #F5F8FA;
  transition: background 0.3s ease;
} .btn-trash:hover {
  background: #A82A2A;
  color: #F5F8FA;
} .inline-form {
  display: inline;
} .fixedPositioningButtons {
  position: fixed;
  right: 10px;
  bottom: 10px;
} .fixedPositioningButtons button {
  border: 0;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  transition: background 0.3s ease;
} .add-button {
  background: #7762BC;
  color: #F5F8FA;
} .filter-button {
  background: #394B59;
  color: #F5F8FA;
}.add-button:hover {
  background: #5642A6;
} .filter-button:hover {
  background: #293742;
} .center-panel {
  width: 70%;
  margin: 0 auto;
}