{% extends 'crafty/base.html' %}

{% block nav %}
  {% include 'crafty/nav.html' %}
{% endblock %}

{% block body %}
  {% if diys %} 
    <div id="diy-list">
      {% for diy in diys %}
        {% include 'crafty/diy-list-item.html' %}
      {% endfor %}
    </div>
  {% else %}
    <h3>No DIYs to show</h3>
  {% endif %}
{% endblock %}

{% block extras %}
  <div class="fixedPositioningButtons">
    <a href="{% url 'crafty:diy-add' %}">
      <button class="add-button">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </a>
    <a href="{% url 'crafty:diy-add' %}">
      <button class="filter-button">
        <span class="glyphicon glyphicon-filter"></span>
      </button>
    </a>
  </div>
{% endblock %}