<!DOCTYPE html>
<html>
<head>
  {% block title %}
    <title>Crafty</title>
  {% endblock %}
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'crafty/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'crafty/scripts.js' %}"></script>
</head>
<body>
  {% block nav %}
  {% endblock %}
  {% block body %}
  {% endblock %}
  {% block extras %}
  {% endblock %}
</body>
</html>